<section class="">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body" id="print-section">
            <div class="row">
              <div class="col-md-12">
                <div class="white-box">
                  <table style="width: 100% !important; height: 100% !important; overflow: visible !important;">
                    <thead>
                      <tr>
                        <td>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="float-start">
                                <address>
                                  <!-- <img src="assets/images/image-gallery/dummylogo1.png" alt="logo" />
                                  <p class="text-muted m-l-5">
                                    Hospital Name <br>
                                    Address <br>
                                    Pin Code <br>
                                    Phone : (0111)22222222
                                  </p> -->

                                  <img src="assets\images\image-gallery\gs.png" alt="logo" width="75" height="75"/>
                                  <p class="text-muted m-l-5">
                                   GS Kulkurni Hospital<br>
                                   Shivaji Nagar, Miraj,<br> 416410 <br>
                                   Phone : Phone : (0233)– 2222590, 22223268
                                  </p>
                                </address>
                              </div>
                              <div class="float-end">
                                <address>
                                  <p class="m-0">
                                    <b>UHID NO : </b> {{appoinmentData?.patientUHIDNumber}}
                                  </p>
                                  <p class="m-0">
                                    <b>Appointment NO : </b> {{appoinmentData?.documentNumber}}
                                  </p>
                                  <p class="m-0">
                                    <b>Consulting Doctor : </b>{{appoinmentData?.doctorName}}
                                  </p>
                                  <p class="m-0">
                                    <b>Patient Name : </b> {{appoinmentData?.firstName}}
                                    {{appoinmentData?.lastName}}
                                  </p>
                                  <p class="m-0">
                                    <b>Patient Name / Gender : </b> {{appoinmentData?.firstName}}
                                    {{appoinmentData?.lastName}} / {{appoinmentData?.gender}}
                                  </p>

                                  <p class="m-0">
                                    <b>Date of Birth(Age) : </b>
                                    <i class="fa fa-calendar"></i> {{appoinmentData?.dob |
                                    date:'dd/MM/YYYY'}}({{calculateAge(appoinmentData?.dob)}} Years)
                                  </p>
                                  <p class="m-0">
                                    <b>Mobile NO : </b> {{appoinmentData?.mobileNumber}}
                                  </p>
                                  <p class="m-0">
                                    <b>Address : </b> {{appoinmentData?.address}}
                                  </p>
                                 
                                  <p class="m-0">
                                    <b>Admission Date : </b>
                                    <i class="fa fa-calendar"></i> {{appoinmentData?.appointmentDate |
                                    date:'dd/MM/YYYY'}}
                                  </p>
                                  <p class="m-0">
                                    <b>Discharge Date : </b>
                                    <i class="fa fa-calendar"></i> {{appoinmentData?.dischargeDate |
                                    date:'dd/MM/YYYY'}}
                                  </p>
                                  <p class="m-0">
                                    <b>Operation Status : </b>{{operationSummaryData?.operationStatus}}
                                  </p>
                                </address>
                              </div>
                            </div>
                            <hr>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="col-md-12">
                            <div class="table-responsive">
                              <table class="table-hover" style="width: 100% !important;">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="col-md-12">
                                        <div class="table-responsive m-0">
                                          <p class="m-l-10" style="text-align: center !important;">
                                            <u><b>OPERATION SUMMARY</b> </u>
                                          </p>
                                          <hr>
                                          <p class="m-l-10">
                                            <b>Operation Details :</b>&nbsp;{{otRegistration?.operationTypeName}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>Start date :</b>&nbsp;{{otRegistration?.inDate |
                                              date:'dd/MM/YYYY hh:mm:ss a'}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>End date :</b>&nbsp;{{otRegistration?.outDate |
                                              date:'dd/MM/YYYY hh:mm:ss a'}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>Operation Surgeons :</b>&nbsp;{{otRegistration?.operatingSurgeons}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>Implants Used :</b>&nbsp;{{otRegistration?.implantsUsed}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>Anaesthesia Induced By :</b>&nbsp;{{otRegistration?.anaesthesiaInducedBy}}
                                          </p>
                                          <hr>
                                          <p class="m-l-10">
                                            <b>Operation Note :</b>&nbsp;{{operationSummaryData?.operationNote}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>Precautionary Note :</b>&nbsp;{{operationSummaryData?.precautionaryNote}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>Pre Cleaning Status :</b>&nbsp;{{operationSummaryData?.preCleaningStatus}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>Post Cleaning Status :</b>&nbsp;{{operationSummaryData?.postCleaningStatus}}
                                          </p>
                                          <p class="m-l-10">
                                            <b>Follow up date :</b>&nbsp;{{operationSummaryData?.folloupDate |
                                              date:'dd/MM/YYYY'}}
                                          </p>
                                          <hr>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td>
                          <div style="height: 8rem !important; width: 100% !important;"></div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <footer class="text-end">
              <div>
                <div class="float-end text-end" style="margin-right: 10% !important; margin-bottom: 2% !important;">
                  <p class="text-start m-0">Sign : </p>
                  <p class="text-start m-0">Doctor Name : <b> {{appoinmentData?.doctorName}}</b></p>
                  <p class="text-start m-0">Date : {{appoinmentData?.appointmentDate | date: 'MM/dd/yyyy'}}</p>
                </div>
              </div>
            </footer>
          </div>
          <div class="text-end">
            <button mat-flat-button color="primary" printSectionId="print-section" [useExistingCss]="true" ngxPrint><i
                class="fas fa-print"></i>
              Print</button>
            <button mat-flat-button color="primary" (click)="sharePDFOnEmail()" style="margin-left: 5px !important;"><i
                class="fas fa-email"></i>
              Email</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>