<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="panleTitle" [items]="['Pathology Test']" [active_item]="panleTitle"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{panleTitle}}</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="pathologyTestForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    @if (pathologyTestForm.get('name')?.hasError('required')) {
                    <mat-error>
                      Name is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Charges</mat-label>
                    <input matInput formControlName="charges" required>
                    @if (pathologyTestForm.get('charges')?.hasError('required')) {
                    <mat-error>
                      Charges is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>              
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <span class="mb-2">Description</span>
                  <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
                </div>
              </div>
              <h2 class="card-inside-title">Parameter Details</h2>
              <div class="row" *ngIf="id" #parameterDetails>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Parameter Name(Space not allowed)</mat-label>
                    <input (keydown.space)="$event.preventDefault();" matInput formControlName="testName">
                    @if (pathologyTestForm.get('testName')?.hasError('required')) {
                    <mat-error>
                      Name is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Unit Name</mat-label>
                    <input #input type="text" placeholder="Pick one" aria-label="Number" matInput
                      formControlName="unitName" [matAutocomplete]="auto" (input)="filter()" (focus)="filter()">
                    <mat-autocomplete #auto="matAutocomplete">
                      @for (option of filteredOptions; track option) {
                      <mat-option [value]="option.name">{{option.name}}</mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="id">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Result Type</mat-label>
                    <mat-select formControlName="type" required>
                      <mat-option [value]="'F'">
                        Fixed Value
                      </mat-option>
                      <mat-option [value]="'C'">
                        Calculation Formula
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <!--<mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Normal Min value</mat-label>
                    <input matInput formControlName="min" [disabled]="pathologyTestForm.value.type!='R'">
                  </mat-form-field>-->
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Method</mat-label>
                    <input matInput formControlName="methodDesc">
                  </mat-form-field>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-3"> -->
                  <!-- <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Descriptive Range</mat-label>
                    <input matInput formControlName="descriptiveRange">
                  </mat-form-field> -->
                <!-- <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Normal Max value</mat-label>
                    <input matInput formControlName="max" [disabled]="pathologyTestForm.value.type!='R'">
                  </mat-form-field>-->
                <!-- </div> -->
                @if (pathologyTestForm.value.type != 'C') {
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 pt-2">
                    <button type="button" class="btn-space" (click)="addDetails()" mat-raised-button color="primary">Add
                      Details</button>
                  </div>
                  }
              </div>
             <!-- <div class="row" *ngIf="id">
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Method</mat-label>
                    <input matInput formControlName="methodDesc">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Descriptive Range</mat-label>
                    <input matInput formControlName="descriptiveRange">
                  </mat-form-field>
                </div>
                
            </div>
            -->
              @if (pathologyTestForm.value.type == 'C') {
              <div class="row" *ngIf="id">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <b>Note: </b><span>While defining formula to use parameter define it as "#Alphanumeric Parameter Name Without spaces", Example: If parameter name is "LDL-CHOLESTEROL (DIRECT)" then use it as "#LDLCHOLESTEROLDIRECT" </span>
                </div>
              </div>
            }
            @if (pathologyTestForm.value.type == 'C') {
              <div class="row" *ngIf="id">
                
                  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Add Calculation Formula</mat-label>
                      <input matInput formControlName="formula">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 pt-2">
                    <button type="button" class="btn-space" (click)="addDetails()" mat-raised-button color="primary">Add
                      Details
                    </button>
                  </div>
                  
              </div>
            }
              <div class="row clearfix" *ngIf="id">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <h2>Test Details</h2>
                    </div>
                    <div class="tableBody">
                      <div class="table-responsive">
                        <table class="table display product-overview mb-30" id="support_table">
                          <thead>
                            <tr>
                              <th>Parameter Name</th>
                              <th>Unit Name</th>
                              <th>Type</th>
                              <th>Formula</th>
                              <th>Method</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let testDetail of testDetails$;let i =index">
                              <td>{{testDetail.name}}</td>
                              <td>{{testDetail.unitName}}</td>
                              <td>{{testDetail.testType}}</td>
                              <td>{{testDetail.formula}}</td>
                              <td>{{testDetail.methodDesc}}</td>
                              <td>
                                <button type="button" mat-icon-button (click)="addNew(testDetail.id,testDetail)">
                                  <mat-icon class="col-blue">add</mat-icon>
                                </button>
                                <button type="button" mat-icon-button (click)="editTestDetails(testDetail)">
                                  <mat-icon class="col-blue">edit</mat-icon>
                                </button>
                                <button type="button" mat-icon-button (click)="deletePathologyTestDtl(testDetail.id)">
                                  <mat-icon class="col-orange">delete</mat-icon>
                                </button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!pathologyTestForm.valid" mat-raised-button
                    color="primary">Save</button>
                  <button type="button" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>