<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Dashboard'"></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h3 class="m-b-15">TODAYS LAB REGISTRATION</h3>
            <hr>
            <h2 class="text-end">Total <span class="font-30">12</span></h2>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h3 class="m-b-15">WAITING FOR REPORT</h3>
            <hr>
            <h2 class="text-end">Total <span class="font-30">28</span></h2>
            <hr>
            <p class="m-b-0">WAITING FOR SAMPLE 200</p>
            <hr>
            <p class="m-b-0">SAMPLE COLLECTED 31</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h3 class="m-b-15">COMPLETED</h3>
            <hr>
            <h2 class="text-end">Total <span class="font-30">231</span></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h3 class="m-b-15">TODAYS X-Ray REGISTRATION</h3>
            <hr>
            <h2 class="text-end">Total <span class="font-30">12</span></h2>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h3 class="m-b-15">WAITING FOR REPORT</h3>
            <hr>
            <h2 class="text-end">Total <span class="font-30">28</span></h2>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h3 class="m-b-15">COMPLETED</h3>
            <hr>
            <h2 class="text-end">Total <span class="font-30">231</span></h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>