@media print {
  @page { 
    margin: 0; 
  }

  footer {
    position: fixed;
    bottom: 0;
    height: auto !important;
    width: 100% !important;
  }

 } 
  
thead { display: table-header-group; page-break-after: avoid;}
tbody { display: table-row-group; page-break-after: avoid; }
tfoot { display: table-footer-group; page-break-after: avoid;}